extends ../layout
block content
  script(src='/libs/jquery.validate.min.js')
  script(src='/scripts/userPages/register.js')

  //Load the navigation bar
  include ../navbar

  .container
    .row
      .span12
        #loginModal
          .modal-body
            .well
              form.form-login(action='/user/register', method='post')
                h2.form-login-heading Create new user
                .form-group
                  input.form-control(type='text', name='username', placeholder='UserName', autofocus='autofocus')
                .form-group
                  input.form-control(type='text', name='register_email', placeholder='Email address')
                br
                .form-group
                  input.form-control(type='password', name='register_password', placeholder='Password')
                br
                button.btn.btn-lg.btn-primary.btn-block(type='submit', name='create', value='create') Create
